#目标机型
CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

#设置内核版本
CONFIG_LINUX_5_10=y
#CONFIG_LINUX_5_15=y
#需自己调试的内核版本,不建议使用
#CONFIG_LINUX_5_4=y
#CONFIG_LINUX_6_1=y

#内核留名(User@Domain)
CONFIG_KERNEL_BUILD_USER=""
CONFIG_KERNEL_BUILD_DOMAIN=""

#杂项参数
CONFIG_CCACHE=y
CONFIG_CCACHE_DIR=""
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
#CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
#CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
CONFIG_NF_CONNTRACK_EVENTS=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y
CONFIG_LIBSODIUM_MINIMAL=y


# //*以上内容一般不需要修改*//


#需要补充的默认组件
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_wpad-wolfssl=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_luci-mod-dashboard=y

#不需要的默认组件
# CONFIG_PACKAGE_block-mount is not set
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set

#Luci扩展软件包
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-ttyd=y

CONFIG_PACKAGE_ttyd=y

#根据防火墙选择合适的版本
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_miniupnpd-iptables=y
#CONFIG_PACKAGE_miniupnpd-nftables=y


#FullConeNat支持
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
#CONFIG_PACKAGE_kmod-nft-fullcone=y

#转发加速扩展管理器
# CONFIG_PACKAGE_luci-app-turboacc is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE_DRV is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE_FOR_ECM is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING is not set


# //*以下内容一般不需要修改*//


#语言
# CONFIG_LUCI_LANG_en is not set
CONFIG_LUCI_LANG_zh_Hans=y
#旧版中文语言选项
CONFIG_LUCI_LANG_zh-cn=y

#ipv6支持
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
# CONFIG_PACKAGE_6in4 is not set
# CONFIG_PACKAGE_6rd is not set
# CONFIG_PACKAGE_6to4 is not set

#Luci基础组件
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-mod-admin-full=y
# CONFIG_PACKAGE_luci-mod-network is not set
# CONFIG_PACKAGE_luci-mod-status is not set
# CONFIG_PACKAGE_luci-mod-system is not set
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_luci-theme-material=y

#如果没有内置软件包管理
#CONFIG_PACKAGE_luci-app-opkg=y


#NSS加速
CONFIG_PACKAGE_nss-firmware-ipq8074=y
CONFIG_PACKAGE_kmod-qca-nss-dp=y
# CONFIG_PACKAGE_kmod-qca-nss-drv is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-ecm is not set
CONFIG_PACKAGE_qca-nss-ecm_ECM_MULTICAST_ENABLE=y
CONFIG_PACKAGE_kmod-qca-ssdk-hnat=y
CONFIG_PACKAGE_kmod-qca-ssdk-nohnat=y
CONFIG_PACKAGE_qca-ssdk-shell=y

#NSS加速 64bit
CONFIG_PACKAGE_kmod-qca-nss-drv-64=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe-64=y
CONFIG_PACKAGE_kmod-qca-nss-drv-bridge-mgr-64=y
CONFIG_PACKAGE_kmod-qca-nss-drv-vlan-mgr-64=y
CONFIG_PACKAGE_kmod-qca-nss-ecm-64=y
CONFIG_PACKAGE_qca-nss-ecm-64_ECM_MULTICAST_ENABLE=y

#NSS附加扩展
CONFIG_PACKAGE_qca-nss-gmac=y
#Kernel driver for NSS gmac

CONFIG_PACKAGE_kmod-qca-rfs=y
#Kernel module for QCA Receiving Flow Steering

#CONFIG_PACKAGE_kmod-qca-nss-crypto=y

#CONFIG_PACKAGE_kmod-qca-mcs=y
#This package installs the IGMP/MLD Snooping Module

#CONFIG_PACKAGE_kmod-qca-nss-cfi-cryptoapi=y
#Kernel driver for NSS cfi

# CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc is not set
#Qdisc for configuring shapers in NSS


#转发加速扩展
# CONFIG_PACKAGE_kmod-ipt-offload is not set
# CONFIG_PACKAGE_kmod-nf-flow is not set
# CONFIG_PACKAGE_kmod-tcp-bbr is not set
CONFIG_PACKAGE_kmod-fast-classifier=y
CONFIG_PACKAGE_kmod-shortcut-fe=y
CONFIG_PACKAGE_kmod-shortcut-fe-cm=y
CONFIG_PACKAGE_kmod-shortcut-fe-drv=y


#移除默认附加软件包
# CONFIG_PACKAGE_luci-app-openclash is not set
# CONFIG_PACKAGE_luci-app-pushbot is not set
# CONFIG_PACKAGE_luci-app-smartdns is not set
# CONFIG_PACKAGE_luci-app-fullconenat is not set

#CONFIG_PACKAGE_luci-app-attendedsysupgrade=y 
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-wol is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
# CONFIG_PACKAGE_luci-app-ipsec-vpnd is not set
# CONFIG_PACKAGE_luci-app-pppoe-relay is not set
# CONFIG_PACKAGE_luci-app-cpufreq is not set
# CONFIG_PACKAGE_luci-app-ramfree is not set
# CONFIG_PACKAGE_luci-app-advanced is not set
# CONFIG_PACKAGE_luci-app-argon-config is not set
# CONFIG_PACKAGE_luci-app-eqos is not set
# CONFIG_PACKAGE_luci-app-autoreboot is not set
# CONFIG_PACKAGE_luci-app-filetransfer is not set
# CONFIG_PACKAGE_luci-app-easymesh is not set
# CONFIG_PACKAGE_luci-app-arpbind is not set
# CONFIG_PACKAGE_luci-app-unblockneteasemusic is not set
# CONFIG_PACKAGE_luci-theme-argon is not set
# CONFIG_PACKAGE_luci-theme-bootstrap is not set
# CONFIG_PACKAGE_readline is not set
# CONFIG_PACKAGE_libreadline is not set
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_shellsync is not set
# CONFIG_PACKAGE_coremark is not set
# CONFIG_PACKAGE_shortcut-fe is not set
# CONFIG_PACKAGE_golang is not set
# CONFIG_PACKAGE_python3 is not set
# CONFIG_PACKAGE_knot-host is not set
# CONFIG_PACKAGE_git is not set

# CONFIG_PACKAGE_kmod-zram is not set
# CONFIG_PACKAGE_zram-swap is not set
# CONFIG_PACKAGE_kmod-pppox is not set
# CONFIG_PACKAGE_kmod-crypto-acompress is not set
# CONFIG_PACKAGE_kmod-crypto-aead is not set
# CONFIG_PACKAGE_kmod-crypto-arc4 is not set
# CONFIG_PACKAGE_kmod-crypto-authenc is not set
# CONFIG_PACKAGE_kmod-crypto-ccm is not set
# CONFIG_PACKAGE_kmod-crypto-cmac is not set
# CONFIG_PACKAGE_kmod-crypto-ctr is not set
# CONFIG_PACKAGE_kmod-crypto-ecb is not set
# CONFIG_PACKAGE_kmod-crypto-gcm is not set
# CONFIG_PACKAGE_kmod-crypto-gf128 is not set
# CONFIG_PACKAGE_kmod-crypto-ghash is not set
# CONFIG_PACKAGE_kmod-crypto-hmac is not set
# CONFIG_PACKAGE_kmod-crypto-manager is not set
# CONFIG_PACKAGE_kmod-crypto-michael-mic is not set
# CONFIG_PACKAGE_kmod-crypto-null is not set
# CONFIG_PACKAGE_kmod-crypto-rng is not set
# CONFIG_PACKAGE_kmod-crypto-seqiv is not set
# CONFIG_PACKAGE_kmod-crypto-user is not set
# CONFIG_PACKAGE_libruby is not set
# CONFIG_PACKAGE_ruby is not set
# CONFIG_PACKAGE_ruby-bigdecimal is not set
# CONFIG_PACKAGE_ruby-date is not set
# CONFIG_PACKAGE_ruby-dbm is not set
# CONFIG_PACKAGE_ruby-digest is not set
# CONFIG_PACKAGE_ruby-enc is not set
# CONFIG_PACKAGE_ruby-forwardable is not set
# CONFIG_PACKAGE_ruby-pstore is not set
# CONFIG_PACKAGE_ruby-psych is not set
# CONFIG_PACKAGE_ruby-stringio is not set
# CONFIG_PACKAGE_ruby-strscan is not set
# CONFIG_PACKAGE_ruby-yaml is not set
# CONFIG_PACKAGE_node is not set
# CONFIG_PACKAGE_node-npm is not set
# CONFIG_PACKAGE_node-request is not set